transformers==4.45.2
transformers-stream-generator==0.0.5
accelerate>=0.26.0
peft
gradio==5.8.0
tinydb==4.8.0
xxhash==3.4.1
google-ai-generativelanguage==0.6.10
google-generativeai
datasets==2.18.0
librosa==0.10.1
soundfile==0.12.1
openai==1.52.0
